In [1]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('ProblemCData.xlsx')

In [3]:
df.head()

     MSN StateCode  Year  Data
0  ABICB        AZ  1960   0.0
1  ABICB        AZ  1961   0.0
2  ABICB        AZ  1962   0.0
3  ABICB        AZ  1963   0.0
4  ABICB        AZ  1964   0.0

In [4]:
df.info

<bound method DataFrame.info of           MSN StateCode  Year          Data
0       ABICB        AZ  1960       0.00000
1       ABICB        AZ  1961       0.00000
2       ABICB        AZ  1962       0.00000
3       ABICB        AZ  1963       0.00000
4       ABICB        AZ  1964       0.00000
...       ...       ...   ...           ...
105739  WYTCB        TX  2005   42367.85279
105740  WYTCB        TX  2006   66164.83829
105741  WYTCB        TX  2007   89019.08957
105742  WYTCB        TX  2008  159881.36380
105743  WYTCB        TX  2009  195454.76530

[105744 rows x 4 columns]>

In [5]:
dfp = df.pivot(index=['StateCode', "Year"], columns='MSN', values='Data')

In [6]:
dfp.head()

MSN             ABICB  ABICP       ARICB  ARICD       ARICP  ARICV  \
StateCode Year
AZ        1960    0.0    0.0  5726.26021    NaN   862.90841    NaN
          1961    0.0    0.0  6274.82747    NaN   945.57376    NaN
          1962    0.0    0.0  5741.44510    NaN   865.19667    NaN
          1963    0.0    0.0  8193.88866    NaN  1234.76321    NaN
          1964    0.0    0.0  7749.17493    NaN  1167.74788    NaN

MSN                  ARTCB  ARTCD       ARTCP  ARTCV  ...       WWTXB  WWTXD  \
StateCode Year                                        ...
AZ        1960  5726.26021    NaN   862.90841    NaN  ...  3819.24697    NaN
          1961  6274.82747    NaN   945.57376    NaN  ...  3715.21210    NaN
          1962  5741.44510    NaN   865.19667    NaN  ...  3628.19694    NaN
          1963  8193.88866    NaN  1234.76321    NaN  ...  3937.01824    NaN
          1964  7749.17493    NaN  1167.74788    NaN  ...  4057.80989    NaN

MSN             WWTXV  WXICB  WXICD  WXICP  WXICV  WYEGB  WYEGP  WYTCB
StateCode Year
AZ        1960    NaN    0.0    NaN    0.0    NaN    0.0    0.0    0.0
          1961    NaN    0.0    NaN    0.0    NaN    0.0    0.0    0.0
          1962    NaN    0.0    NaN    0.0    NaN    0.0    0.0    0.0
          1963    NaN    0.0    NaN    0.0    NaN    0.0    0.0    0.0
          1964    NaN    0.0    NaN    0.0    NaN    0.0    0.0    0.0

[5 rows x 583 columns]

In [7]:
dfp.columns

Index(['ABICB', 'ABICP', 'ARICB', 'ARICD', 'ARICP', 'ARICV', 'ARTCB', 'ARTCD',
       'ARTCP', 'ARTCV',
       ...
       'WWTXB', 'WWTXD', 'WWTXV', 'WXICB', 'WXICD', 'WXICP', 'WXICV', 'WYEGB',
       'WYEGP', 'WYTCB'],
      dtype='object', name='MSN', length=583)

In [8]:
dfp.info

<bound method DataFrame.info of MSN                  ABICB      ABICP         ARICB    ARICD        ARICP  \
StateCode Year
AZ        1960     0.00000    0.00000    5726.26021      NaN    862.90841
          1961     0.00000    0.00000    6274.82747      NaN    945.57376
          1962     0.00000    0.00000    5741.44510      NaN    865.19667
          1963     0.00000    0.00000    8193.88866      NaN   1234.76321
          1964     0.00000    0.00000    7749.17493      NaN   1167.74788
...                    ...        ...           ...      ...          ...
TX        2005  2150.01741  425.91470  114067.50410  5.29769  17189.19592
          2006   163.57711   32.40434  104457.80730  5.73411  15741.08007
          2007   466.45938   92.40479  100464.91340  6.15972  15139.37815
          2008    25.97665    5.14593   71106.86146  6.37485  10715.31969
          2009  -220.19169  -43.61959   61348.01050  6.71933   9244.72732

MSN                 ARICV         ARTCB    ARTCD        ARTCP      ARTCV  ...  \
StateCode Year                                                            ...
AZ        1960        NaN    5726.26021      NaN    862.90841        NaN  ...
          1961        NaN    6274.82747      NaN    945.57376        NaN  ...
          1962        NaN    5741.44510      NaN    865.19667        NaN  ...
          1963        NaN    8193.88866      NaN   1234.76321        NaN  ...
          1964        NaN    7749.17493      NaN   1167.74788        NaN  ...
...                   ...           ...      ...          ...        ...  ...
TX        2005  604.29428  114067.50410  5.29769  17189.19592  604.29428  ...
          2006  598.97256  104457.80730  5.73411  15741.08007  598.97256  ...
          2007  618.83574  100464.91340  6.15972  15139.37815  618.83574  ...
          2008  453.29558   71106.86146  6.37485  10715.31969  453.29558  ...
          2009  412.21753   61348.01050  6.71933   9244.72732  412.21753  ...

MSN                   WWTXB     WWTXD      WWTXV       WXICB     WXICD  \
StateCode Year
AZ        1960   3819.24697       NaN        NaN     0.00000       NaN
          1961   3715.21210       NaN        NaN     0.00000       NaN
          1962   3628.19694       NaN        NaN     0.00000       NaN
          1963   3937.01824       NaN        NaN     0.00000       NaN
          1964   4057.80989       NaN        NaN     0.00000       NaN
...                     ...       ...        ...         ...       ...
TX        2005  77414.48141  3.353991  186.35183  1804.98886  18.24895
          2006  75383.72350  3.369397  185.88702  1720.09480  23.88228
          2007  80665.23624  3.399955  200.04716  1439.96922  26.70787
          2008  94444.86432  3.829960  276.52372  1259.29004  33.63735
          2009  67699.71032  3.779523  148.17482   803.94942  24.35257

MSN                 WXICP     WXICV         WYEGB       WYEGP         WYTCB
StateCode Year
AZ        1960    0.00000       NaN       0.00000      0.0000       0.00000
          1961    0.00000       NaN       0.00000      0.0000       0.00000
          1962    0.00000       NaN       0.00000      0.0000       0.00000
          1963    0.00000       NaN       0.00000      0.0000       0.00000
          1964    0.00000       NaN       0.00000      0.0000       0.00000
...                   ...       ...           ...         ...           ...
TX        2005  325.98679  32.93915   42367.85279   4237.2090   42367.85279
          2006  310.65465  41.07979   66164.83829   6670.5150   66164.83829
          2007  260.06307  38.45851   89019.08957   9006.3830   89019.08957
          2008  227.43183  42.35918  159881.36380  16225.0217  159881.36380
          2009  145.19585  19.57823  195454.76530  20026.1030  195454.76530

[200 rows x 583 columns]>

In [9]:
dfp.shape

(200, 583)

In [17]:
dfpt = dfp.T.drop_duplicates().T

In [18]:
dfpt.shape

(200, 528)

In [ ]:
import numpy as np
dfp.replace('', np.nan)
dfp.replace(0.0, np.nan)
dfp_cleaned = dfp.dropna(axis=0, how='any')
dfp_cleaned.shape

In [ ]:
az_dfpc = dfp_cleaned[dfp_cleaned.index.isin(['AZ'], level=0)]


az_dfpc.shape

In [ ]:
az_dfpc.columns

In [ ]:
az_dfpc.head

In [ ]:
scaler = StandardScaler()
scaler.fit(az_dfpc)
az_dfpc_scaled = scaler.transform(az_dfpc)
print(az_dfpc_scaled.shape)
az_dfpc_scaled[0:5][0:2]

In [ ]:
principal=PCA(n_components=3)
principal.fit(az_dfpc_scaled)
x = principal.transform(az_dfpc_scaled)
x.shape

In [ ]:
x

In [ ]:
principal.components_

In [ ]:
# pc_names = ["PC"+str(i) for i in list(range(1, 30 + 1))]
# pc_names

In [ ]:
plt.figure(figsize=(10,10))
plt.scatter(x[:,0],x[:,1],)
plt.xlabel('pc1')
plt.ylabel('pc2')

In [ ]:
import seaborn as sns
map= pd.DataFrame(principal.components_,columns=az_dfpc.columns)
plt.figure(figsize=(30,6))
sns.heatmap(map,cmap='plasma')
# sns.set_style('darkgrid')

In [ ]:
print(principal.explained_variance_ratio_)